@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.l-wrap-inner {
  width: 1320px;
  margin: 0 auto;
}
.l-wrap-inner--full {
  max-width: 1440px;
  width: 100%;
}

.l-header p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.l-header__top {
  width: 100%;
  background-color: #4D592C;
}
.l-header__top .top-bloc {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__top .top-bloc .logo {
  width: 224px;
}
.l-header__top .top-bloc .address-bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.l-header__nav {
  width: 100%;
  height: 90px;
  background-color: #233516;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-header__nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.l-header__nav ul .nav-link a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.l-footer {
  background-color: #4D592C;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.l-footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px;
}
.l-footer__wrap .footer-logo {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-right: 50px;
}
.l-footer__wrap .footer-logo__logo {
  width: 224px;
}
.l-footer__wrap .footer-logo p {
  margin-bottom: 10px;
}
.l-footer__wrap .footer-logo__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.l-footer__wrap .footer-link {
  display: flex;
  justify-content: flex-end;
  gap: 100px;
}
.l-footer__wrap .footer-link__bloc {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: start;
  gap: 20px;
}
.l-footer__wrap .footer-link__bloc li a {
  color: #ffffff;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.l-footer__wrap .footer-link__bloc h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 10px;
}
.l-footer address {
  padding: 30px;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.btn {
  background-color: #C5CD64;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}/*# sourceMappingURL=style.css.map */